.single-review{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    text-align: left;
    margin-bottom: 5px;
    padding: 10px;
} 

.single-review p{
    font-size: 19px;
    padding: 0px;
    margin: 0px;
}
.single-review h3{
    font-size: 15px;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}
.single-review  h5{
    padding: 0px;
    margin: 0px;

}